<div class="all row">
  <div class="col-lg-7 col-sm-8 col-sm-offset-2">
    <form (ngSubmit)="myForm.valid && onSubmit(f)" #myForm="ngForm">
      <div>
        <label for="name-order">Enter your name : </label>
        <input type="text" name="name-order" [(ngModel)]="model.name" #name="ngModel" required><br />
      </div>
      <div class="message-invalidated" *ngIf="name.errors && myForm.submitted">
        <span *ngIf="name.errors.required">
          The field is mandatory</span>
      </div><br />
      <br />
      <div>
        <label for="contact-order">Your mail : </label>
        <input type="email" name="contact-order" [(ngModel)]="model.contact" #contact="ngModel" required email><br />
      </div>
      <div *ngIf="contact.errors">
        <span *ngIf="contact.errors.required && myForm.submitted">please enter your email address</span>
        <span *ngIf="contact.errors.email">
          There is an error in your email address</span>
      </div><br />
      <br />
      <div>
        <label for="message-order">Your message : </label>
        <textarea type="message" name="message-order" [(ngModel)]="model.message" #message="ngModel"
          required></textarea>
      </div>
      <div *ngIf="message.errors && myForm.submitted">
        <span *ngIf="message.errors.required">
          The field is mandatory</span><br />
      </div>
      <br />
      <button type="submit" [disabled]="validation" class="btn btn-light">Valider</button>

    </form>
  </div>
  <div class="col-lg-4 col-sm-offset">
  <img class="imgterre" src="http://coquelico.c.o.pic.centerblog.net/0140.gif">

  </div>
</div>
