<div class="dialogue image_frame">

    <div class="chat_overview" id="chat_overview">

        <div class="inner">

            <div class="chat_message right">

                <div class="bubble highlight right">

                    <span class="inner">

                        <span class="text">

                            First message: Nice Chat-Script!

                        </span>

                    </span>

                </div>

            </div>

            <div class="chat_message">

                <div class="bubble">

                    <span class="inner">

                        <span class="text">

                            Second message: Yeah! Very nice!

                        </span>

                    </span>

                </div>

            </div>

            <div class="chat_message right">

                <div class="bubble highlight right">

                    <span class="inner">

                        <span class="text">

                            Third message: I'm lovin' it!

                        </span>

                    </span>

                </div>

            </div>

            <div class="chat_message last">

                <div class="bubble">

                    <span class="inner">

                        <span class="text">

                            Fourth and last message: Bye bye...

                        </span>

                    </span>

                </div>

            </div>

        </div>

    </div>

</div>

<script src="main.js"></script>



