<div class="fond">

  <h2>
    Continue with your search area !
  </h2>
  <div class="row">
  <label class="col-2 title1">System:</label>
  <select class="col-3" [(ngModel)]="selectedSystem.id" (change)="onSelect($event.target.value)">
    <option value="0">--Select--</option>
    <option *ngFor="let system of systems" value= {{system.id}}>{{system.name}}</option>
  </select>
  </div>

  <br/><br/>

  <div class="row">
  <label class="col-2 title1">Planet:</label>
  <select class="col-2 button" (change)="selectPlanet($event.target.value)" >
    <option value="0">--Select--</option>
    <option *ngFor="let planet of planets" value={{planet.id}}>{{planet.name}}</option>
  </select>
  <img *ngIf="selectedPlanet != null" class="col-2 img" src="{{selectedPlanet.img}}"/>
  <p *ngIf="selectedPlanet != null" class="col-2 des">{{selectedPlanet.des}}</p>
  </div>


  <div class="row">
  <button type="Submit" class="btn select btn-primary col-10">Find me somebody to Rock !</button>
  </div>
</div>

