<div class="page">
<header>
    <nav class="navbar navbar-dark bg-dark">
  
      <a class="navbar-brand"><img class="logo-nav" routerLink="/homepage" src="./assets/logo_rockmelong.png"></a>
  
    </nav>
  </header>

<div class="container">
    <div class="row">
      <div class="col-sm">
          <h2>Continue with your search area</h2>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <label class="title1">System :</label>
      <br/>
      <select class="button col-xl-4" [(ngModel)]="selectedSystem.id" (change)="onSelect($event.target.value)">
        <option value="0">--Select--</option>
        <option *ngFor="let system of systems" value={{system.id}}>{{system.name}}</option>
      </select>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <label class="title1">Planet :</label>
      <br/>
      <select class="button col-xl-4 col-sm-12" (change)="selectPlanet($event.target.value)">
        <option value="0">--Select--</option>
        <option *ngFor="let planet of planets" value={{planet.id}}>{{planet.name}}</option>
      </select>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md">
      <img *ngIf="selectedPlanet != null" class="img col-xl-6" src="{{selectedPlanet.img}}" />
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <p *ngIf="selectedPlanet != null" class="des">{{selectedPlanet.des}}</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
        <button type="Submit" class="btn select btn-primary col-xl-10" routerLink="/profile">Find me somebody to Rock !</button>

    </div>
  </div>
</div>

<footer>
    <ul class="nav justify-content-center nav-dark bg-dark"> 
      <li class="nav-item"> 
        <a class="nav-link active" routerLink="/contact">Contact</a>  
      </li> 
      <li class="nav-item">  
        <a class="nav-link active" routerLink="/conditions">Conditions</a>
      </li> 
    </ul> 
  </footer>
</div>