<div class="page">
    <header>
        <nav class="navbar navbar-dark bg-dark col-xl-12">
            <a class="navbar-brand" routerLink="homepage"><img class="logo-nav"  src="/assets/logo_rockmelong.png"></a>
        </nav>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <p class="text-presentation col-xl-11">Welcome to THE Asteroid dating site. Select your criteria, choose your
                    favorite
                    asteroid and the next meeting possible!</p>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <button routerLink="/criterion1" type="button" class="started btn btn-lg btn-primary">Let's
                    start</button>

            </div>
        </div>
    </div>

    <footer>
        <ul class="nav justify-content-center nav-dark bg-dark">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/conditions">Conditions</a>
            </li>
        </ul>
    </footer>
</div>
