<div class="chat">
  <header>
    <nav class="navbar navbar-dark bg-dark">

      <a class="navbar-brand"><img class="logo-nav" routerLink="/homepage" src="./assets/Logo_RockMeLong.png"></a>

    </nav>
  </header>
  
  <h1>Mathilde says :
    Hi, do you want to meet me near Jupiter in 200 years ?</h1>
  <div class="container">
    <div class="row">
      <p id="demo" class="demo"></p>
      <p id="demo1" class="demo"></p>
      <p id="demo2" class="demo1"></p>
      <p id="demo3" class="demo1"></p>
    </div>
  </div>


      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="btn-group">
                <button type="button" (click)="myNoContinuation()" id="buttonX" class="btn btn-primary btn-lg">x</button>
              <div class="offset-1"></div>
              <button type="button" (click)="start()" id="buttonV" class="btn btn-primary btn-lg">V</button>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <ul class="nav justify-content-center nav-dark bg-dark">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/conditions">Conditions</a>
          </li>
        </ul>
      </footer>
    </div>