  .chat {
  background-image: url(/assets/BackgroundRockMe.png);
  }

@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    background: white;
    border-radius: 6px;
    color: black;
    display: inline-block;
    padding: 10px 15px;
    position: relative;
  }
  h1:after {
    border: 8px solid;
    border-color: white transparent transparent white;
    content: "";
    height: 0;
    left: 15px;
    position: absolute;
    top: 80%;
    width: 0%;
  }
  #buttonV {
    background-color: green;
    border: #0066b4;
    color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 40px;
  }
  #buttonX {
    background-color: red;
    border: #0066b4;
    color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 50px;
  }
  p {
    font-size: 30px;
    font-weight: bold;
  }
  .demo {
    border-radius: 6px;
    display: none;
    color: white;
    position: fixed;
    margin-top: 2%;
    padding: 1%;
  }
  #demo {
    background: greenyellow;
    color: black;
    text-align: left;
    margin-left: 60%;
  }
  #demo1 {
    background: #c60001;
    color: white;
    text-align: left;
    margin-left: 70%;
  }
  #demo2 {
    background: yellow;
    color: black;
    text-align: left;
    margin-top: 10%;
    margin-left: 50%;
  }
  #demo3 {
    background: #c60001;
    color: white;
    text-align: left;
    margin-top: 10%;
    margin-left: 75%;
  }
  .demo:after {
    border: 8px solid;
    content: "";
    height: 0;
    right: 20px;
    position: absolute;
    top: 100%;
    width: 0;
    left: auto;
  }
  header {
    top: 0px;
    font-family: 'Orbitron', sans-serif;
    font-size: 10%;
    letter-spacing: .6rem;
    font-weight: bold;
  }
  footer {
    display: block;
    color: white;
    margin-top: 5%;
    font-family: 'Orbitron', sans-serif;
  }
  #demo:after {
    border-color: greenyellow transparent transparent greenyellow;
  }
  #demo1:after {
    border-color: #c60001 transparent transparent #c60001;
  }
  #demo2:after {
    border-color: yellow transparent transparent yellow;
  }
  #demo3:after {
    border-color: #c60001 transparent transparent #c60001;
  }
  header {
        
    top: 0px; 
  
    font-family: 'Orbitron', sans-serif;
  
    font-size: 10%;
  
    letter-spacing: .6rem;
  
    font-weight: bold;
  
  }

  footer {
        
    display: block;
  
    color: white;
  
    margin-top: 5%;
  
    font-family: 'Orbitron', sans-serif;
  
  } 
}

@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
   background: white;
    border-radius: 6px;
    color: black;
    display: inline-block;
    padding: 10px 15px;
    position: relative;
    margin-top: 2%;
    left: 25px;
    font-size: 16px;
  }
  h1:after {
    border: 8px solid;
    border-color: white transparent transparent white;
    content: "";
    height: 0;
    left: 20px;
    position: absolute;
    top: 100%;
    width: 0%;
  }
  #buttonV {
    background-color: green;
    border: #0066b4;
    color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 40px;
    margin-top: 62%;
    position: fixed;
  }
  #buttonX {
    background-color: red;
    border: #0066b4;
    color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 50px;
    margin-top: 62%;
    position: fixed;
    margin-left: -28%;
  }
  p {
    font-size: 30px;
    font-weight: bold;
  }
  .demo {
    border-radius: 6px;
    display: none;
    color: white;
    padding: 1%;
  }
  #demo {
    background: greenyellow;
    color: black;
    text-align: left;
    margin-top: 5%;
    margin-left: 22%;
    position: absolute;
    font-size: 20px;
  }
  #demo1 {
    background: #c60001;
    color: white;
    text-align: left;
    margin-top: 5%;
    margin-left: 40%;
    position: absolute;
    font-size: 20px;
  }
  #demo2 {
    background: yellow;
    color: black;
    text-align: left;
    margin-top: 25%;
    position: absolute;
    font-size: 20px;
  }
  #demo3 {
    background: #c60001;
    color: white;
    text-align: left;
    margin-top: 25%;
    position: absolute;
    font-size: 20px;
    margin-left: 22%;
  }
  .demo:after {
    border: 8px solid;
    content: "";
    height: 0;
    right: 20px;
    position: fixed;
    top: 100%;
    width: 0;
    left: auto;
  }
  header {
    top: 0px;
    font-family: 'Orbitron', sans-serif;
    font-size: 10%;
    letter-spacing: .6rem;
    font-weight: bold;
  }
  footer {
    display: block;
    color: white;
    margin-top: 86.2%;
    font-family: 'Orbitron', sans-serif;
  }
  #demo:after {
    border-color: greenyellow transparent transparent greenyellow;
  }
  #demo1:after {
    border-color: #c60001 transparent transparent #c60001;
  }
  #demo2:after {
    border-color: yellow transparent transparent yellow;
  }
  #demo3:after {
    border-color: #c60001 transparent transparent #c60001;
  }
}

@media (min-width: 1281px) {
  h1 {
    background: white;
    border-radius: 6px;
    color: black;
    display: inline-block;
    padding: 10px 15px;
    position: relative;
    margin-top: 2%;
    left: 15px;
  }
  h1:after {
    border: 8px solid;
    border-color: white transparent transparent white;
    content: "";
    height: 0;
    left: 50px;
    position: absolute;
    top: 100%;
    width: 0%;
  }
  #buttonV {
    background-color: green;
    border: #0066b4;
    color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 40px;
    margin-top: 130%;
  }
  #buttonX {
    background-color: red;
    border: #0066b4;
    color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 50px;
    margin-top: 130%;
    /* position: fixed; */
    margin-left: -13%;
  }
  p {
    font-size: 30px;
    font-weight: bold;
  }
  .demo {
    border-radius: 6px;
    display: none;
    color: white;

    padding: 1%;
  }
  #demo {
    background: greenyellow;
    color: black;
    text-align: left;
    margin-top: 2%;
    margin-left: 42%;
    position: absolute;
  }
  #demo1 {
    background: #c60001;
    color: white;
    text-align: left;
    margin-left: 60%;
    margin-top: 2%;
    position: absolute;
  }
  #demo2 {
    background: yellow;
    color: black;
    text-align: left;
    margin-top: 15%;
    margin-left: 20%;
    position: absolute;
  }
  #demo3 {
    background: #c60001;
    color: white;
    text-align: left;
    margin-top: 15%;
    margin-left: 25%;
    position: absolute;
  }
  .demo:after {
    border: 8px solid;
    content: "";
    height: 0;
    right: 20px;
    position: fixed;
    top: 100%;
    width: 0;
    left: auto;
  }
  #demo:after {
    border-color: greenyellow transparent transparent greenyellow;
  }
  #demo1:after {
    border-color: #c60001 transparent transparent #c60001;
  }
  #demo2:after {
    border-color: yellow transparent transparent yellow;
    margin: 26px 26px 26px 26px;
  }
  #demo3:after {
    border-color: #c60001 transparent transparent #c60001;
  }
  header {
    top: 0px;
    font-family: 'Orbitron', sans-serif;
    font-size: 10%;
    letter-spacing: .6rem;
    font-weight: bold;
  }
  footer {
    display: block;
    color: white;
    margin-top: 5%;
    font-family: 'Orbitron', sans-serif;
  }
}

.logo-nav {

  width: 20%;

}