body {
    background-image:url(assets/BackgroundRockMe.png);

}

.carousel-caption {
    position: absolute;
}

.descriptif {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top:15%;
    margin-right: 30%;
    background: rgba(0, 0, 255, 0.5); 
}

.descriptif1 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top:15%;
    margin-right: 60%;
    background: rgba(0, 0, 255, 0.5); 
}

.carousel-item {
    margin-top: 3%;
}

.d-block {
    width:600px;
    height:600px;
}

h1 {
    font-family: partybusiness;
    font-size: 70px;
}

.btn-group {
    margin-top: 2%;
}

#buttonV {
    background-color: green;
    border: #0066b4;
    color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 40px;
}

#buttonX {
    background-color: white;
    border: white;
    color: #0066b4;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 50px;
}


