.profile {
    background-image: url(/assets/BackgroundRockMe.png);
}

@media (min-width: 320px) and (max-width: 767px) {
    .carousel-caption {
        position: absolute;
    }
    .descriptif {
        color: white;
        font-weight: bold;
        font-size: 20px;
        margin-top: 55%;
        margin-right: 30%;
        background: rgba(0, 0, 255, 0.5);
    }
    .descriptif1 {
        color: white;
        font-weight: bold;
        font-size: 20px;
        margin-top: 40%;
        margin-right: 60%;
        background: rgba(0, 0, 255, 0.5);
    }
    .carousel-item {
        margin-top: 3%;
    }
    .d-block {
        width: 600px;
        height: 600px;
    }
    h1 {
        font-family: partybusiness;
        font-size: 70px;
    }
    .btn-group {
        margin-top: 2%;
    }
    #buttonV {
        background-color: green;
        border: #0066b4;
        color: white;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        font-weight: bold;
        font-size: 40px;
    }
    #buttonX {
        background-color: white;
        border: white;
        color: #0066b4;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        font-weight: bold;
        font-size: 50px;
    }
    header {
        top: 0px;
        font-family: 'Orbitron', sans-serif;
        font-size: 10%;
        letter-spacing: .6rem;
        font-weight: bold;
    }
    footer {
        display: block;
        color: white;
        margin-top: 5%;
        font-family: 'Orbitron', sans-serif;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .carousel-caption {
        position: absolute;
    }
    .descriptif {
        color: white;
        font-weight: bold;
        font-size: 20px;
        margin-top: 30%;
        margin-right: 30%;
        background: rgba(0, 0, 255, 0.5);
    }
    .descriptif1 {
        color: white;
        font-weight: bold;
        font-size: 20px;
        margin-top: 35%;
        margin-left: 5%;
        background: rgba(0, 0, 255, 0.5);
        ;
    }
    .carousel-item {
        margin-top: 3%;
    }
    .d-block {
        width: 600px;
        height: 600px;
    }
    h1 {
        font-family: partybusiness;
        font-size: 70px;
    }
    .btn-group {
        margin-top: 2%;
    }
    #buttonV {
        background-color: green;
        border: #0066b4;
        color: white;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        font-weight: bold;
        font-size: 40px;
    }
    #buttonX {
        background-color: white;
        border: white;
        color: #0066b4;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        font-weight: bold;
        font-size: 50px;
    }
    header {
        top: 0px;
        font-family: 'Orbitron', sans-serif;
        font-size: 10%;
        letter-spacing: .6rem;
        font-weight: bold;
    }
    footer {
        display: block;
        color: white;
        margin-top: 5%;
        font-family: 'Orbitron', sans-serif;
    }
}

@media (min-width: 1281px) {
    .carousel-caption {
        position: absolute;
        margin-top: 0%;
    }
    .descriptif {
        color: white;
        font-weight: bold;
        font-size: 20px;
        margin-top: 20%;
        margin-right: 30%;
        background: rgba(0, 0, 255, 0.5);
    }
    .descriptif1 {
        color: white;
        font-weight: bold;
        font-size: 20px;
        margin-top: 30%;
        margin-left: 20%;
        background: rgba(0, 0, 255, 0.5);
    }
    .carousel-item {
        margin-top: 3%;
    }
    .d-block {
        width: 600px;
        height: 600px;
    }
    h1 {
        font-family: partybusiness;
        font-size: 70px;
    }
    .btn-group {
        margin-top: 2%;
    }
    #buttonV {
        background-color: green;
        border: #0066b4;
        color: white;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        font-weight: bold;
        font-size: 40px;
    }
    #buttonX {
        background-color: white;
        border: white;
        color: #0066b4;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        font-weight: bold;
        font-size: 50px;
    }
    header {
        top: 0px;
        font-family: 'Orbitron', sans-serif;
        font-size: 10%;
        letter-spacing: .6rem;
        font-weight: bold;
    }
    footer {
        display: block;
        color: white;
        margin-top: 4%;
        font-family: 'Orbitron', sans-serif;
    }
}

.logo-nav {
    width: 20%;
}
.active{
    color:white;
  }