<body>
  <h1>SexyStone696969 says :
    Hi, do you want to meet me near Jupiter in 200 years ?</h1>
  <div class="container">
    <div class="row">
      <p id="demo" class="demo"></p>
      <p id="demo1" class="demo"></p>
      <p id="demo2" class="demo"></p>
      <p id="demo3" class="demo"></p>
      <div class="bubble"></div>
      <button class="button" (click)="myFunction()">
        <div class="validation">
          <p style="color: white">V</p>
        </div>
      </button>
      <button class="buttonX" (click)="myNoContinuation()">
        <div class="validation">
          <p style="color: white">X</p>
        </div>
      </button>
    </div>
  </div>
</body>