<!-----
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="nav-item active">
    <a href="#">
  <img class="logo-nav" src="../assets/logo_rockmelong.png">

  <h1 class="title">
      {{ title }}!
    </h1>
  </a>

  </div>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!------
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
          <a routerLink="/Chat" class="nav-link" href="#">Chat</a>
      </li>
      <li class="nav-item">
          <a routerLink="/Contact" class="nav-link">Contact</a>
      </li>
      <li class="nav-item">
          <a routerLink="/Criteres2" class="nav-link">Criteria</a>
      </li>
      <!-------
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>

    </ul>

  </div>
</nav>
----------------------------------------------->
<header>

  <nav class="navbar navbar-dark bg-dark">

    <a class="navbar-brand" href="#"><img class="logo-nav" src="../assets/logo_rockmelong.png"></a>

  </nav>

</header>

<router-outlet></router-outlet>



<br />
<br />
<br />
<br />
<br />

<div class="container footer">
  <div class="row">

    <!--------
    <div class="col-sm">
        <a href="#">
        <img class="logo-footer" src="../assets/logo_rockme_modif3.png">
        <p></p>
        </a>
    </div>

  <div class="col-sm">
      <a routerLink="/Chat" class="nav-link">Chat</a>

  </div>
------>

<div class="col-sm">
  <div><img class="logo-footer" src="../assets/logo_rockme_modif3.png">

      <a routerLink="/Chat" class="nav-link">Chat</a>
    </div>
    </div>
    <div class="col-sm">

      <a routerLink="Contact" class="nav-link">Contact</a>
    </div>

    <div class="col-sm">

      <a routerLink="Conditions" class="nav-link">Conditions</a>
    </div>
  </div>
</div>
